@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
        
body {
    
    font-family: 'Raleway', sans-serif;
    background-image: url("bg.png");
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #323232; /* Light blue color */
    margin-bottom: 20px;
    font-size: 2.5em; /* Increase font size */
    text-align: center; /* Center align the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    letter-spacing: 1px; /* Add space between letters */
    transition: color 0.3s; /* Smooth transition for color change */
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
}

.box {
    background-color: #007BFF; /* Default color */
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.box:hover {
    opacity: 0.9;
}

.box:nth-child(1) {
    background-color: #007BFF; /* Blue */
}

.box:nth-child(2) {
    background-color: #28A745; /* Green */
}

.box:nth-child(3) {
    background-color: #DC3545; /* Red */
}

.box:nth-child(4) {
    background-color: #FFC107; /* Amber */
}

.box:nth-child(5) {
    background-color: #6F42C1; /* Purple */
}

.box:nth-child(6) {
    background-color: #17A2B8; /* Teal */
}

.box:nth-child(7) {
    background-color: #343A40; /* Dark Gray */
}

.box:nth-child(8) {
    background-color: #F8F9FA; /* Light Gray */
}

.box:nth-child(9) {
    background-color: #FF5733; /* Coral */
}

.box:nth-child(10) {
    background-color: #C70039; /* Crimson */
}

.box:nth-child(11) {
    background-color: #900C3F; /* Dark Red */
}

.box:nth-child(12) {
    background-color: #581845; /* Dark Purple */
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 90%; /* Full width on mobile */
    }
}