html, body{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;

    height: 100%;
    
    background: linear-gradient(45deg, #b92b27, #1565C0);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.quiz-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    background:  #8c0606;

}
.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.option {
    padding: 15px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
    border: none;
}
.option.red { background-color: #ff4d4d; }
.option.blue { background-color: #4d79ff; }
.option.yellow { background-color: #ffd633; }
.option.green { background-color: #47d147; }
.option.grey { background-color: gray ;}
.option:hover {
    opacity: 0.8;
}
.feedback {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}